
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row mt50">
        <div class="col-sm-12">
            <h2 class="lined-heading bounceIn appear animated"><span style="text-transform:uppercase">PHÒNG TWIN</span></h2>
        </div>
    </div>
    <div class="row">
        <!-- Slider -->
        <section class="room-slider standard-slider">
            <div class="col-sm-12 col-md-8">
                <div id="owl-standard" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
                    <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 10500px; left: 0px; display: block; transition: all 300ms ease; transform: translate3d(-750px, 0px, 0px);">
                        <div class="owl-item" style="width: 750px;">
                        <div class="item" style="max-height:450px"><a href="~/Image/Rom/TWIN/image_206.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]">
                            <img src="~/Image/Rom/TWIN/image_207.jpg" class="img-responsive"></a></div></div><div class="owl-item" style="width: 750px;"><div class="item" style="max-height:450px">
                        <a href="~/Image/Rom/TWIN/image_206.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Rom/TWIN/image_206.jpg" class="img-responsive"></a></div></div><div class="owl-item" style="width: 750px;"><div class="item" style="max-height:450px"><a href="~/Image/Rom/TWIN/image_207.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Rom/TWIN/image_207.jpg" class="img-responsive"></a></div></div><div class="owl-item" style="width: 750px;"><div class="item" style="max-height:450px"><a href="~/Image/Rom/TWIN/image_208.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Rom/TWIN/image_208.jpg" class="img-responsive"></a></div></div>
                        <div class="owl-item" style="width: 750px;"><div class="item" style="max-height:450px"><a href="~/Image/Rom/TWIN/image_209.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Rom/TWIN/image_209.jpg" class="img-responsive"></a></div></div><div class="owl-item" style="width: 750px;"><div class="item" style="max-height:450px"><a href="~/Image/Rom/TWIN/image_210.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Rom/TWIN/image_210.jpg" class="img-responsive"></a></div></div><div class="owl-item" style="width: 750px;"><div class="item" style="max-height:450px"><a href="~/Image/Rom/TWIN/image_206.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Rom/TWIN/image_206.jpg" class="img-responsive"></a></div></div></div></div>






                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left fa-3x"></i></div><div class="owl-next"><i class="fa fa-angle-right fa-3x"></i></div></div></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#" data-toggle="tab" aria-expanded="true">Tổng quan</a></li>
                    <li class=""><a href="#" data-toggle="tab" aria-expanded="false">Tiện nghi</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="overview">
                        <div style="text-align: justify;">Phòng đôi chúng tôi sẽ mang lại cho quý khách không chỉ chỗ ở mà còn là sự thư giãn tuyệt vời. Quý khách có thể tận hưởng bầu không khí yên tĩnh và ấm áp tại đây. Sau một chuyến đi dài, quý khách sẽ không thể chờ đợi lâu thêm nữa để được nghỉ ngơi trên những chiếc giường êm ái, mềm mại và sạch sẽ của chúng tôi. Ngoài ra, các phòng đều được trang bị cơ sở vật chất và trang thiết bị hiện đại đáp ứng tiêu chuẩn quốc tế.</div>
                    </div>
                    <div class="tab-pane fade" id="facilities">
                        <div>
                            <ul>
                                <li style="text-align:justify">Máy điều hòa</li>
                                <li style="text-align:justify">Cửa sổ</li>
                                <li style="text-align:justify">Điện thoại gọi nội địa và quốc tế</li>
                                <li style="text-align:justify">Bình nước nóng trong mỗi phòng tắm</li>
                                <li style="text-align:justify">Truyền hình cáp</li>
                                <li style="text-align:justify">Tivi</li>
                                <li style="text-align:justify">Tủ lạnh</li>
                                <li style="text-align:justify">Hệ thống đèn chiếu sáng&nbsp;đèn trang trí</li>
                                <li style="text-align:justify">Bình đun nước siêu tốc</li>
                                <li style="text-align:justify">Máy sấy tóc</li>
                                <li style="text-align:justify">Hệ thống chửa cháy, máy phát hiện khói</li>
                                <li style="text-align:justify">Dép mang trong phòng</li>
                                <li style="text-align:justify">Bàn làm việc</li>
                                <li style="text-align:justify">Bàn trang điểm</li>
                                <li style="text-align:justify">Tủ quần áo</li>
                                <li style="text-align:justify">Móc treo quần áo</li>
                                <li style="text-align:justify">Tủ quần áo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

