
@{
    ViewBag.Title = "Hoạt động giải trí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about mt50">
    <div class="col-md-12">
        <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Hoạt động giải trí</span></h2>
        <div class="container">
            <div class="row">
                <!-- dv1 -->
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Entertaiment/Details">
                            <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>Aileex Club (CLB Billiards)</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- dv1 -->
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Entertaiment/Details">
                            <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>KARAOKE – BAR – CAFÉ</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- dv1 -->
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Entertaiment/Details">
                            <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>Golf</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
