
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about mt50">
    <div class="col-md-12">
        <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Sự kiện khác</span></h2>
        <div class="container">
            <div class="row">
                <!-- dv1 -->
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/OtherEvent/Details">
                            <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>Nhiều tour du lịch độc đáo đón Tết</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- dv1 -->
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/OtherEvent/Details">
                            <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>Nhiều tour du lịch độc đáo đón Tết</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

