
@{
    ViewBag.Title = "Baocao";
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}
<section>

    <div id="wrapper">
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>Truy xuất dữ liệu ra excel</p>

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <label>Cần xuất:</label>
                                <select>
                                    <option>Báo cáo tổng hợp</option>
                                    <option>Báo cáo chi tiết</option>
                                    <option>Nhật ký bán lẻ</option>
                                </select>
                                <label>Thời gian</label>
                                <label>Từ</label>
                                <input type="date"/>
                                <label>Đến</label>
                                <input type="date" />
                                
                                <input type="button" name="btnxuat" value="Xuất file excel" />

                            </div>


</div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>


</section>


