
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Gallery -->
<section class="rooms mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading bounceIn appear animated" data-start="0"><span style="text-transform:uppercase">Tổ chức sự kiện</span></h2>
            </div>
        </div>
        <div class="row fadeIn appear animated">
            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/OtherEvent/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Phố cổ Hội An tổ chức Hội Tết Ất Mùi 2015</h5>
                        </div>
                        <div class="content">
                            Hội Tết Nguyên Đán Ất Mùi 2015 tại phố cổ Hội An, tỉnh Quảng Nam sẽ có nhiều chương trình mới lạ và đậm đà bản sắc văn hóa địa phương.<br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/OtherEvent/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Hội Tết Nguyên Đán Ất Mùi 2015 tại phố cổ Hội An</h5>
                        </div>
                        <div class="content">
                            Hội Tết Nguyên Đán Ất Mùi 2015 tại phố cổ Hội An, tỉnh Quảng Nam sẽ có nhiều chương trình mới lạ và đậm đà bản sắc văn hóa địa phương.<br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/OtherEvent/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Phố cổ Hội An tổ chức Hội Tết Ất Mùi 2015</h5>
                        </div>
                        <div class="content">
                            Hội Tết Nguyên Đán Ất Mùi 2015 tại phố cổ Hội An, tỉnh Quảng Nam sẽ có nhiều chương trình mới lạ và đậm đà bản sắc văn hóa địa phương.<br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
