
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KhachSan.Models.EventsModel
<section class="about mt50">
    <div class="col-md-12">
        <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Tổ chức sự kiện</span></h2>
        <div class="container">
            <div class="row">
                <!-- dv1 -->
                @foreach (var test in ViewBag.Test)
                {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="~/Events/Details">
                            <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                @{ 
                                    var Content = "Tổ chức sự kiện: " + test;
                                }
                                <p>@Content</p>
                            </div>
                        </a>
                    </div>
                </div>
                                    }
            </div>
        </div>
    </div>
</section>
