@model List<Models.Framework.DANH_MUC_TIEN_ICH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about mt50">
    <div class="col-md-12">
        <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Tổ chức sự kiện</span></h2>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <!-- dv1 -->
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Events/Details/?Id=@item.ID">
                                <img src="@item.URL" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <p><h4>@item.TENDV</h4></p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
