
@{
    ViewBag.Title = "Tổ chức sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Gallery -->
<section class="rooms mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading bounceIn appear animated" data-start="0"><span style="text-transform:uppercase">Tổ chức sự kiện</span></h2>
            </div>
        </div>

        <div class="row fadeIn appear animated">
            @for (var i = 1; i < 10; i++)
            {
                <div class="col-sm-4" style="margin-bottom:20px;">
                    <div class="room-thumb">
                        <img src="~/Image/OtherEvent/1.jpg" class="img-responsive">
                        <div class="mask">
                            <div class="main">
                                <h5>Kiên đã nhúng tay vào phần này Lần thứ: @i</h5>
                            </div>
                            <div class="content">
                                @{
                                    var greeting = "Welcome! ";
                                    var weekDay = DateTime.Now.DayOfWeek;
                                    var greetingMessage = greeting + " Here is Kien, it is " + weekDay + " The " + i + " Time" ;
                                }
                                <p>Content: @greetingMessage</p>
                                <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
