
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Gallery -->
<section id="gallery" class="mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading bounceIn appear animated" data-start="0"><span style="text-transform:uppercase">Tổ chức sự kiện</span></h2>
            </div>
        </div>
        <div class="row gallery isotope" style="position: relative; overflow: hidden; height: 205px;">
            <div class="col-sm-3 gal12 fadeIn appear isotope-item" data-start="200" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <a href="~/Image/Events/1.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]">
                    <img src="~/Image/Events/1.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i>
                </a>

            </div>
            
            <div class="col-sm-3 gal12 fadeIn appear isotope-item" data-start="200" style="position: absolute; left: 0px; top: 0px; transform: translate3d(291px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;"> <a href="~/Image/Events/1.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Events/1.jpg" alt="image" class="img-responsive zoom-img"><i class="fa fa-search"></i></a> </div>

            <div class="col-sm-3 gal12 fadeIn appear isotope-item" data-start="200" style="position: absolute; left: 0px; top: 0px; transform: translate3d(582px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;"> <a href="~/Image/Events/1.jpg" data-rel="prettyPhoto[gallery1]" rel="prettyPhoto[gallery1]"><img src="~/Image/Events/1.jpg" alt="image" class="img-responsive zoom-img"><i class="fa fa-search"></i></a> </div>
        </div>
    </div>
</section>
