@model List<Models.Framework.SU_KIEN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- About -->
        <section class="about mt50">
            <div class="col-md-12">
                <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Chi tiết</span></h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-5">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_1">
                            <div style="text-align: justify;">
                                <div style="text-align:center">
                                    <p style="letter-spacing: 4px; font-size: 14px; text-align: center; margin-bottom: 0px;"><h2>@item.TIEUDESUKIEN</h2></p>
                                </div>
                                <div class="text-info">
                                    <p class="fontawesome-icon-list">@item.NOIDUNGSUKIEN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
        <!-- image intro -->
        @foreach (var item in Model)
        {
            <section class="testimonials mt50">
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <a href=@item.URLANH>
                                <img src=@item.URLANH alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
</div>