@model List<Models.Framework.SU_KIEN> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about mt50">
    <div class="col-md-12">
        <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Sự kiện</span></h2>
        <div class="container">
            <div class="row">
                <!-- dv1 -->
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Event/Details?Id=@item.MASUKIEN">
                                <img src=@item.URLANH alt="Lights" style="width:100%">
                                <div class="caption">
                                    <p><h4>@item.TIEUDESUKIEN</h4></p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
