
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="rooms mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading bounceIn appear animated" data-start="0"><span style="text-transform:uppercase">Sự kiện</span></h2>
            </div>
        </div>
        <div class="row fadeIn appear animated">

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Đà Nẵng tưng bừng chào đón Đại hội Thể thao bãi biển châu Á 2016</h5>
                        </div>
                        <div class="content">
                            <h2 style="font-style:italic">Lễ bấm nút đồng hồ đếm ngược 1 năm trước Đại hội Thể thao bãi biển châu Á lần 5 (ABG 5)</h2>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Ksdfdsfdfdsfdfds</h5>
                        </div>
                        <div class="content">
                            <div style="text-align: justify;">Ngsdfsdfsdfsdf trương sdfdsfdsfí phức hợp Helio (Helio Center) tại Khu công viên đông nam Đài Tưởng niệm, đường 2 tháng 9.</div>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Khai trương Trung tâm giải trí phức hợp Helio</h5>
                        </div>
                        <div class="content">
                            <div style="text-align: justify;">Ngày 11-2, Công ty TNHH Khởi Phát khai trương Trung tâm giải trí phức hợp Helio (Helio Center) tại Khu công viên đông nam Đài Tưởng niệm, đường 2 tháng 9.</div>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Phố cổ Hội An tổ chức Hội Tết Ất Mùi 2015</h5>
                        </div>
                        <div class="content">
                            Hội Tết Nguyên Đán Ất Mùi 2015 tại phố cổ Hội An, tỉnh Quảng Nam sẽ có nhiều chương trình mới lạ và đậm đà bản sắc văn hóa địa phương.<br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Đại diện 5 châu tranh tài tại DIFC 2015</h5>
                        </div>
                        <div class="content">
                            <div style="text-align: justify;">UBND thành phố vừa ban hành kế hoạch tổ chức Cuộc thi Trình diễn pháo hoa quốc tế Đà Nẵng 2015 (DIFC 2015) với chủ đề “Đà Nẵng - Bản giao hưởng sắc màu”, diễn ra trong hai đêm 28 và 29-4-2015</div>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Đà Nẵng lần đầu có lễ hội trình diễn ánh sáng nghệ thuật</h5>
                        </div>
                        <div class="content">
                            <div style="text-align: justify;">Lần đầu tiên, Đà Nẵng sẽ có lễ hội trình diễn ánh sáng nghệ thuật phục vụ miễn phí người dân và du khách&nbsp;trên tuyến đường Bạch Đằng ven sông Hàn</div>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Event/1.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>Phun nước, phun lửa cầu Rồng dịp Tết Nguyên đán</h5>
                        </div>
                        <div class="content">
                            <div style="text-align:initial";">Chủ tịch UBND thành phố vừa thống nhất chủ trương theo đề xuất của Sở Giao thông vận tải về việc phun nước, phun lửa cầu Rồng, vận hành quay nhịp cầu Sông Hàn và bảo đảm giao thông phục vụ Tết Nguyên đán Ất Mùi 2015.</div>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

