
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about mt50">
    <div class="col-md-12">
        <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Chi tiết</span></h2>
    </div>
    <div class="col-sm-12 col-md-5">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#" data-toggle="tab" aria-expanded="true">Tổng quan</a></li>
            <li class=""><a href="#" data-toggle="tab" aria-expanded="false">Tiện nghi</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade active in" id="overview">
                <div style="text-align: justify;">Phòng đôi chúng tôi sẽ mang lại cho quý khách không chỉ chỗ ở mà còn là sự thư giãn tuyệt vời. Quý khách có thể tận hưởng bầu không khí yên tĩnh và ấm áp tại đây. Sau một chuyến đi dài, quý khách sẽ không thể chờ đợi lâu thêm nữa để được nghỉ ngơi trên những chiếc giường êm ái, mềm mại và sạch sẽ của chúng tôi. Ngoài ra, các phòng đều được trang bị cơ sở vật chất và trang thiết bị hiện đại đáp ứng tiêu chuẩn quốc tế.</div>
            </div>
            <div class="tab-pane fade" id="facilities">
                <div>
                    <ul>
                        <li style="text-align:justify">Máy điều hòa</li>
                        <li style="text-align:justify">Cửa sổ</li>
                        <li style="text-align:justify">Điện thoại gọi nội địa và quốc tế</li>
                        <li style="text-align:justify">Bình nước nóng trong mỗi phòng tắm</li>
                        <li style="text-align:justify">Truyền hình cáp</li>
                        <li style="text-align:justify">Tivi</li>
                        <li style="text-align:justify">Tủ lạnh</li>
                        <li style="text-align:justify">Hệ thống đèn chiếu sáng&nbsp;đèn trang trí</li>
                        <li style="text-align:justify">Bình đun nước siêu tốc</li>
                        <li style="text-align:justify">Máy sấy tóc</li>
                        <li style="text-align:justify">Hệ thống chửa cháy, máy phát hiện khói</li>
                        <li style="text-align:justify">Dép mang trong phòng</li>
                        <li style="text-align:justify">Bàn làm việc</li>
                        <li style="text-align:justify">Bàn trang điểm</li>
                        <li style="text-align:justify">Tủ quần áo</li>
                        <li style="text-align:justify">Móc treo quần áo</li>
                        <li style="text-align:justify">Tủ quần áo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- image intro -->
<section class="testimonials mt50">
    <div class="row">
        <div class="col-md-5">
            <div class="thumbnail">
                <a href="~/Image/Intro/intro.jpg">
                    <img src="~/Image/Intro/intro.jpg" alt="Lights" style="width:100%">

                </a>
            </div>
        </div>
    </div>
</section>
        </div>
    </div>
</div>

