
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- About -->
        <section class="about mt50">
            <div class="col-md-12">
                <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">WELCOME TO KIMTHAI HOTEL</span></h2>
            </div>
            <div class="col-md-6">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab_1">
                        <div style="text-align: justify;">
                            KHÁCH SẠN KIM THÁI | Tọa lạc tại vị trí trung tâm, rất thuận tiện cho quý khách khi đến Thái Nguyên thăm quan, du lịch và công tác, bởi được nằm chính giữa trung tâm thành phố Thái Nguyên – cách đường tròn trung tâm của thành phố Thái Nguyên, 100m. Gần con sông Cầu thơ mộng, gần Bảo tàng văn hóa các dân tộc Việt Nam và các cơ quan hành chính của tỉnh và thành phố Thái Nguyên.

                            Địa chỉ của khách sạn: số 03, đường Hoàng Văn Thụ phường Phan Đình Phùng, thành phố Thái Nguyên, tỉnh Thái Nguyên.

                            Khách sạn Kim Thái với kiến trúc hiện đại, đầy đủ tiện nghi, nội thất sang trọng, đạt tiêu chuẩn trên 3 sao – Theo tiêu chuẩn quốc tế. Quy mô khách sạn bao gồm 17 tầng 58 phòng, nội thất cao cấp sẽ tạo cho quý khách cảm giác thân thiện và tiện lợi trong thời gian lưu trú tại khách sạn......<a class="fusion-button button-flat button-square button-large button-default button-2" target="_self" href="#"><span class="fusion-button-text fusion-button-text-right">TÌM HIỂU THÊM</span>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- image intro -->
        <section class="testimonials mt50">
            <div class="col-md-6">
                <article>
                    <div class="img-responsive">
                        <a href="#"><img data-u="image" src="~/Image/Intro/intro.jpg" /></a>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>

