
@{
    ViewBag.Title = "Thông tin khuyến mại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="rooms mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading bounceIn appear animated" data-start="0"><span style="text-transform:uppercase">Khuyến mãi</span></h2>
            </div>
        </div>
        <div class="row fadeIn appear animated">

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Sale/image_190.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>GIẢM GIÁ TỚI 50%</h5>
                        </div>
                        <div class="content">
                            <strong>THƯỞNG THỨC KÌ NGHỈ THÚ VỊ TẠI THÀNH PHỐ XANH ĐÀ NẴNG</strong><br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Sale/image_191.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>ƯU ĐÃI GIÁ PHÒNG HỘI NGHỊ CUỐI NĂM</h5>
                        </div>
                        <div class="content">
                            <span style="color:rgb(76, 76, 76); font-family:arial,sans-serif">Bạn đang tìm điểm tổ chức sự kiện cuối năm này? Vậy thì đừng bỏ qua điểm đến năng động Đà Nẵng với không khí biển cho mùa này nhé. Tận hưởng vào không khí mùa lễ tại Như Minh 1 Hotel cùng gói ưu đãi dành riêng cho dịp cuối năm với mức giá</span>&nbsp;thuê phòng hội nghị 2tr/0.5 ngày<br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom:20px;">
                <div class="room-thumb">
                    <img src="~/Image/Sale/image_192.jpg" class="img-responsive">
                    <div class="mask">
                        <div class="main">
                            <h5>KHUYẾN MÃI ĐẶC BIỆT DÀNH CHO CÁC CẶP VỢ CHỒNG HƯỞNG TUẦN TRĂNG MẬT</h5>
                        </div>
                        <div class="content">
                            <div>
                                <div style="text-align: justify;">Giá phòng Deluxe Double&nbsp;<s>1.200.000đ/phòng/đêm</s>&nbsp;nay chỉ còn&nbsp;600.000đ/phòng/đêm, tặng Half-board Package và giảm giá phòng khi ở từ 2 đêm trở lên</div>
                            </div>
                            <br><br>
                            <a href="#" class="btn btn-primary btn-block">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

